.cover {
    height: 100vh;
    width: 100%;
    background-image: url('artcover.jpg');
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}


.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 555px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    z-index: 1; /* Ensures it's on top of other content */
}


nav {
    width: 84%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav ul li a:hover {
    color: #ff4321;
}

#icon {
    width: 30px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
}

.container input[type="text"] {
    width: calc(100% - 40px); /* Adjusted width to accommodate padding */
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #0056b3;
}
